<template>
  <header class="header">
    <div class="container">
      <div>
        <!-- 基础导航 -->
        <router-link :to="val.path" v-for="val in navData" :key="val.path">
          {{ val?.meta?.title }}
        </router-link>
        <!-- 动态路由 -->
        <router-link
          v-for="val in navList"
          :key="val.id"
          :to="'/page/' + val.path"
        >
          {{ val.name }}
        </router-link>
      </div>
      <div class="right">
        <a-button>中英文</a-button>
        <span @click="handleChangeTheme">
          <component :is="iconName"></component>
        </span>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import useStore from "../../stores";
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";

const store = useStore();
const { navList }: any = storeToRefs(store);
const {
  options: { routes },
} = useRouter();
const iconName = ref("light-icon");

const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav);
});

const init = () => {
  store.getNavData();
};
onMounted(() => {
  init();
});
//切换主题颜色
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark");
  iconName.value = document.documentElement.classList.contains("dark")
    ? "dark-icon"
    : "light-icon";
};
</script>

<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  .container {
    height: 100%;
    display: flex;
    .display-flex-row-mixin(space-between,center);
    .right {
      display: flex;
      align-items: center;
    }
  }
}
</style>
