<template>
  <icon>
    <template #component>
      <svg
        t="1660656011466"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="1188"
        width="200"
        height="200"
      >
        <path
          d="M231 653m-155 0a155 155 0 1 0 310 0 155 155 0 1 0-310 0Z"
          fill="#A5E8D0"
          p-id="1189"
        ></path>
        <path
          d="M914.089 623.023H781.52v-34.898c0-19.28-15.614-34.899-34.89-34.899-19.265 0-34.89 15.618-34.89 34.899v34.898H579.195c-19.276 0-34.89 8.636-34.89 27.917v167.488c0 19.28 15.614 41.87 34.89 41.87h132.568v62.804c0 19.28 15.614 34.898 34.89 34.898s34.89-15.618 34.89-34.898v-62.805H914.11c19.265 0 34.89-22.6 34.89-41.869v-167.5c-0.021-19.269-15.635-27.905-34.911-27.905zM711.75 790.512h-97.678v-97.703h97.678v97.703z m167.448 0H781.52v-97.703H879.2v97.703zM530.849 145.939c8.784 0.204 207.362 7.272 237.925 189.938l-10.428-6.96c-18.341-12.245-43.19-7.283-55.422 11.085-12.242 18.367-7.28 43.19 11.083 55.435L788.8 445.31a0.762 0.762 0 0 1 0.15 0.107l0.473 0.312c0.247 0.16 0.505 0.268 0.752 0.419a38.46 38.46 0 0 0 3.833 2.159c0.612 0.3 1.225 0.558 1.847 0.827 1.02 0.44 2.062 0.838 3.115 1.181 0.72 0.237 1.439 0.473 2.18 0.677 1.041 0.28 2.094 0.494 3.146 0.687 0.687 0.13 1.375 0.29 2.073 0.376 1.578 0.215 3.178 0.323 4.778 0.344 0.14 0 0.28 0.032 0.408 0.032h0.086c0.14 0 0.269-0.032 0.408-0.032 1.6-0.021 3.2-0.129 4.779-0.344 0.687-0.086 1.364-0.247 2.051-0.376a40.956 40.956 0 0 0 3.179-0.698c0.72-0.193 1.439-0.43 2.147-0.666a40.895 40.895 0 0 0 3.136-1.192c0.612-0.268 1.224-0.526 1.836-0.816a39.973 39.973 0 0 0 3.845-2.17c0.247-0.15 0.505-0.258 0.752-0.419l0.472-0.311a0.762 0.762 0 0 0 0.15-0.108l76.814-51.225c18.363-12.245 23.335-37.068 11.082-55.436-12.242-18.367-37.048-23.362-55.422-11.085l-16.935 11.3C824.84 129 632.898 68.43 532.781 66.014c-21.595-0.57-40.388 16.928-40.924 39.001-0.527 22.073 16.934 40.398 38.991 40.924zM273.357 675.172l13.616 9.076a39.738 39.738 0 0 0 22.133 6.714c12.918 0 25.59-6.252 33.29-17.799 12.241-18.367 7.28-43.19-11.083-55.435l-75.417-50.291a39.351 39.351 0 0 0-7.088-3.76c-0.72-0.29-1.46-0.408-2.18-0.655-1.729-0.59-3.447-1.192-5.24-1.546-1.02-0.204-2.051-0.194-3.072-0.312-1.546-0.182-3.092-0.43-4.65-0.419-0.794 0-1.567 0.161-2.351 0.215-1.793 0.107-3.576 0.193-5.359 0.548-0.633 0.129-1.235 0.397-1.868 0.548-1.858 0.462-3.716 0.923-5.51 1.665a38.998 38.998 0 0 0-6.958 3.705c-0.007 0.007-25.837 17.23-77.49 51.666-18.363 12.245-23.335 37.068-11.082 55.435 7.7 11.558 20.371 17.799 33.29 17.799 7.613 0 15.324-2.17 22.132-6.714l14.53-9.688c21.745 215.287 216.694 277.124 317.863 279.563 22.615 0.01 40.399-17.262 40.925-39.002 0.526-22.073-16.924-40.398-38.992-40.935-8.945-0.215-214.826-7.551-239.44-200.378zM147.963 455.277c1.653 0.204 3.286 0.505 4.993 0.505h223.986c22.068 0 39.97-17.895 39.97-39.98 0-22.083-17.89-39.978-39.97-39.978H182.938v-59.969h194.015c22.068 0 39.97-17.895 39.97-39.979s-17.891-39.979-39.97-39.979H182.938V175.93h194.015c22.068 0 39.97-17.895 39.97-39.98 0-22.083-17.891-39.978-39.97-39.978H152.956c-1.707 0-3.34 0.29-4.993 0.505-1.654-0.204-3.286-0.505-4.994-0.505C120.901 95.97 103 113.866 103 135.95v279.842c0 22.073 17.89 39.979 39.97 39.979 1.707 0 3.339-0.29 4.993-0.494z"
          fill="#4CA7FF"
          p-id="1190"
        ></path>
      </svg>
    </template>
  </icon>
</template>

<script setup lang="ts">
import Icon from "@ant-design/icons-vue";
</script>

<style lang="less"></style>
