<template>
  <div id="root">
    <router-view />
    <a-input type="text" v-model="todoData.todoText" />
    <a-button @click="handleClickSend" type="primary">send</a-button>
    <ul ref="oUl">
      <li v-for="val in todoData.todoList" :key="val.id">
        {{ val.value }}
      </li>
    </ul>
  </div>
</template>
<script setup lang="ts">
import { reactive, ref, onMounted } from "vue";
interface TodoData {
  todoList: Array<{ id: number; value: string }>;
  todoText: string;
}
let id = 1;
const todoData = reactive<TodoData>({
  todoList: [],
  todoText: "",
}); //proxy对象
const oUl = ref(null);

const handleClickSend = () => {
  todoData.todoList.push({
    id: id++,
    value: todoData.todoText,
  });
  todoData.todoText = "";
  console.log(todoData);
};

onMounted(() => {
  console.log("onMounted", oUl.value);
});
</script>
<style></style>
